<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>60</data>
      <data>102</data>
      <data>110</data>
      <data>110</data>
      <data>96</data>
      <data>98</data>
      <data>60</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>1</charcode>
    <chardata>
      <data>24</data>
      <data>60</data>
      <data>102</data>
      <data>126</data>
      <data>102</data>
      <data>102</data>
      <data>102</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>2</charcode>
    <chardata>
      <data>124</data>
      <data>102</data>
      <data>102</data>
      <data>124</data>
      <data>102</data>
      <data>102</data>
      <data>124</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>18</charcode>
    <chardata>
      <data>124</data>
      <data>102</data>
      <data>102</data>
      <data>124</data>
      <data>120</data>
      <data>108</data>
      <data>102</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>27</charcode>
    <chardata>
      <data>7</data>
      <data>129</data>
      <data>194</data>
      <data>255</data>
      <data>113</data>
      <data>31</data>
      <data>7</data>
      <data>8</data>
    </chardata>
  </character>
  <character>
    <charcode>28</charcode>
    <chardata>
      <data>240</data>
      <data>33</data>
      <data>93</data>
      <data>254</data>
      <data>253</data>
      <data>225</data>
      <data>32</data>
      <data>16</data>
    </chardata>
  </character>
  <character>
    <charcode>29</charcode>
    <chardata>
      <data>60</data>
      <data>24</data>
      <data>60</data>
      <data>60</data>
      <data>126</data>
      <data>122</data>
      <data>52</data>
      <data>24</data>
    </chardata>
  </character>
  <character>
    <charcode>30</charcode>
    <chardata>
      <data>255</data>
      <data>129</data>
      <data>173</data>
      <data>173</data>
      <data>173</data>
      <data>173</data>
      <data>173</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>31</charcode>
    <chardata>
      <data>126</data>
      <data>114</data>
      <data>114</data>
      <data>102</data>
      <data>102</data>
      <data>102</data>
      <data>78</data>
      <data>78</data>
    </chardata>
  </character>
  <character>
    <charcode>35</charcode>
    <chardata>
      <data>255</data>
      <data>145</data>
      <data>145</data>
      <data>241</data>
      <data>159</data>
      <data>145</data>
      <data>145</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>36</charcode>
    <chardata>
      <data>255</data>
      <data>129</data>
      <data>133</data>
      <data>133</data>
      <data>133</data>
      <data>133</data>
      <data>129</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>98</charcode>
    <chardata>
      <data>126</data>
      <data>114</data>
      <data>114</data>
      <data>102</data>
      <data>102</data>
      <data>102</data>
      <data>78</data>
      <data>78</data>
    </chardata>
  </character>
  <character>
    <charcode>124</charcode>
    <chardata>
      <data>15</data>
      <data>15</data>
      <data>15</data>
      <data>15</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>157</charcode>
    <chardata>
      <data>195</data>
      <data>243</data>
      <data>243</data>
      <data>243</data>
      <data>243</data>
      <data>243</data>
      <data>195</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>252</charcode>
    <chardata>
      <data>240</data>
      <data>240</data>
      <data>240</data>
      <data>240</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
</charset>
